
body::-webkit-scrollbar {
    width: 7px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #23564c2e;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #23564c;
  outline: 1px solid #23564c;
}

.testimonials swiper-container {
  width: 100%;
  height: 300px;
  padding: 10px;
}
.hero .mySwiper swiper-slide{
    display: flex;
    justify-content: center;
}

.testimonials swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid rgb(249, 115, 22);
}

.topReasons swiper-container {
  width: 100%;
  height: 300px;
}

@media (max-width:500px){
  .topReasons swiper-container {
    height: 400px;
  }
}

.topReasons swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topReasons swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.socialIcons{
  animation: float 6s ease-in-out infinite;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #70dbbb;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #55d38e;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #09ff00;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

/* Keyframes */
@-webkit-keyframes float {
  0%,
  50% {
      -webkit-transform: translate(0, 0);
      -webkit-animation-timing-function: cubic-bezier(.2, .25, .55, 1)
  }
  25% {
      -webkit-transform: translate(-7px, 5px);
      -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
  }
  75% {
      -webkit-transform: translate(7px, -5px);
      -webkit-animation-timing-function: cubic-bezier(.45, 0, .8, .75)
  }
  to {
      -webkit-transform: translate(0, 0)
  }
}